body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Trebuchet MS Обычный', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22083 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:340px;
  height:42px;
  display:flex;
  font-family:'Trebuchet MS Обычный', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u22083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22084 {
  position:absolute;
  left:40px;
  top:100px;
}
#u22084_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22084_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u22085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  display:flex;
  line-height:20px;
}
#u22085 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22084_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u22084_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u22086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  display:flex;
  line-height:20px;
}
#u22086 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
